.datepicker {
  background: #fff;
  position:absolute;
}

.datepicker .calendar {
  max-width: 270px;
  margin: 4px;
}

.datepicker .calendar-table {
  border: none;
}

.datepicker .calendar th, .datepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 22px;
  font-size:11px;
  padding:0px;
}

.datepicker .calendar-table {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
}

.datepicker .off  {
  color: #999;
  background: #fff;
}

.datepicker .weekend {
  color: #5aa;
}

.datepicker .today {
  color:#000;
  background:#ddf;
}

.datepicker .current{
  color:#fff;
  background:#88f;
  border-radius:4em;
}

.datepicker td:hover {
  background: #eee;
  color:#aaa;
  border-radius:4em;
}

.datepicker .form-control {
  font-size:10px;
  height:25px;
  margin:0px;
  padding:0px;
}

.datepicker .year {
  width:40px;
  margin:0px auto;
}

